@page
@model TestModel
@{
    ViewData["Title"] = "TEST";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<p>This is test page call another REST API service.</p>

<p>Hostname: @ViewData["Host"]</p>

<p>API url: @ViewData["ServiceUrl"]</p>

<p>API Result: @ViewData["ApiResult"]</p>

<p>HEADERS: @ViewData["Headers"]</p>
